<div class="container justify-content-center my-2">
  <div class="row">
    <div class="my-2">
      <button class="btn btn-outline-primary" [routerLink]="['/candidate']">
        Add
      </button>
    </div>
    <div class="col-sm-12">
      <table class="table table-bordered table-responsive">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Actions</th>
            <th scope="col">Skills</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let candidate of candidates">
            <td>{{ candidate.name }}</td>

            <td>
              <div
                class="btn-group"
                role="group"
                aria-label="Basic mixed styles example"
              >
                <button
                  type="button"
                  class="btn btn-danger mx-2"
                  (click)="onDelete(candidate)"
                >
                  <i class="bi bi-trash"></i>
                </button>

                <button
                  type="button"
                  class="btn btn-warning mx-2"
                  [routerLink]="['/candidate', candidate.id]"
                >
                  <i class="bi bi-eye"></i>
                </button>
              </div>
            </td>

            <td class="flex flex-wrap">
              <div *ngFor="let skill of candidate.skills">
                {{ skill.name }}
              </div>
              <!-- <ng-container *ngFor="let skill of skills">
                <p class="p-1 flex">{{ skill.name }}</p>
              </ng-container> -->
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
